.example-container {
    width: 100%;
    height: calc(100vh - 110px);
    background: transparent;
  
  
    .example-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    
    
        .example-sidenav {
            padding: 0px;

            

            

        }

    }

}