<section class="products-section">
    <section class="mobile-category">
        <app-mobile-category [categories]="categories" (categorySelected)="getCategory($event)"></app-mobile-category>
    </section>
    
    <aside class="left-nav" tabindex="0">
        <app-productcategory [categories]="categories" (categorySelected)="getCategory($event)"></app-productcategory>
    </aside>
    
    <section class="main-section-container">
        <app-products [categoryId]="categorySelected"></app-products>
    </section>
    

</section>
