/* You can add global styles to this file, and also import other style files */
@import 'variable';

@import 'media-query';

* {
    font-size: $fontsize;
    font-family: $fontfamily;
    font-weight: $fontweight;
    color: $textcolor;
    background-color: $transparentbg;
    box-sizing: border-box;
    // outline: none;
}


// ------------------------ IMP STYLES CAROUSEL---------------------//

.carousel{
    height: 100% !important;
}

.carousel-slide{
    height: 150px !important;
    background-size: 100% 150px !important;
}

// ------------------------ IMP STYLES CAROUSEL---------------------//


h1 {
    font-size: 120%;
    font-weight: 700;
    margin: 25px 0px;
}

h3 {
    font-weight: 700;
    font-size: 90%;
}

html, body { height: 100%; width: 100%; overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    max-width: 1140px;
    margin: 2px auto;
    position: relative;
}

button.primary {
    background: #d81b60;
    font-size: 80%;
    color: #fff;
    border: none;
    height: 30px;
    margin: 25px 0px;
    min-width: 150px;
    outline: none !important;
    cursor: pointer;
}

a:hover {
    color: #d81b60 !important;
}

button:disabled {
    opacity: 0.7;
}

.mat-drawer {
    position: absolute !important;
    height: calc(100vh - 110px) !important;
    transition: 0.5s visiblity;
    width: 100% !important;
}

.mat-drawer-side.mat-drawer-end{
    border: none !important;
}

.mat-drawer-inner-container {
    #cart-header{
        display: flex !important;
        align-items: center !important; 
        background: #000;

        .cartHeader{
            flex-grow: 10 !important;
            padding: 10px;
           

            h1 {
                font-size: 90% !important;
                margin: 0%;
                color: #d4d4d4;
            }
        }

        #closeCart{
            flex-grow: 1 !important;

            span {
                font-size: 90% !important;
                font-weight: 700 !important;
                cursor: pointer !important;
                color: #d4d4d4;
            }
        }
    }
}


/*   -------------- mat form css ----------- */

.mat-form-field .mat-form-field-ripple {
    background-color: #50DAE2 !important;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label mat-label{
    color: #50DAE2 !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
    background-color: #f44336 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: 0.3em !important;
}

mat-error {
    font-size: 12px !important;
    font-weight: 600;
}

.mat-form-field-label {
    font-size: 12px !important;
}

mat-label {
    font-size: 14px !important;
    position: relative !important;
    top: 2px !important;
}

input.mat-input-element {
    font-size: 1em !important;
    margin: 0px !important;
    line-height: 1em !important;
}


/*   -------------- mat form css ----------- */


@media only screen and (min-width:480px){   
    .carousel-slide{
        height: 230px !important;
        background-size: 100% 230px !important;
    }
}