@import "https://fonts.googleapis.com/css?family=Dosis:400,600,700";


$bgcolor: #fff;
$textcolor: #565656;
$fontsize: 18px;
$fontfamily: Dosis;
$fontweight: 400;
$transparentbg: transparent;


$mobilefontsize: 14px;