
<section class="main-section" aria-label="products section">
    <ng-container *ngFor="let product of products">
        <div class="parent-card" aria-label="product" *ngIf="product.visible || product.visible==undefined">
            <div class="main-card" tabindex="0" role="main">
                <h3 aria-label="product name">{{product.name}}</h3>
                <div class="image-desc">
                    <img [src]="product.imageURL.replace('static','assets')" alt="">
                    <div class="product-description">
                        <div class="description">{{product.description}}</div>
                        <button class="addToCart-btn primary" (click)="AddToCart(product)"> {{'Buy Now @' + product.price}} </button>
                    </div>
                </div>
                <div class="button-price">
                    <span class="mrp-span">{{'MRP ' + product.price}}</span>
                    <button class="addToCart-btn primary" (click)="AddToCart(product)"> Buy Now </button>
                </div>
            </div>
        </div>
    </ng-container>
    
</section>
