<section class="signin-section">
    <article class="signin-content">
        <h1>Login</h1>
        <h3>Get access to your Orders, Wishlist and Recommendations.</h3>
    </article>
    <article class="signin-form">
        <form [formGroup]="signInForm" class="signin-form">
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <!-- <mat-error *ngIf="!this.firstname.valid">
                        First name is required
                      </mat-error> -->
                  </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password">
                    <!-- <mat-error *ngIf="!this.firstname.valid">
                        Last name is required
                      </mat-error> -->
                  </mat-form-field>
            </div>
            <button class="primary" (click)="GetForm()">Login</button>
        </form>
    </article>
    
</section>
