footer{
    background-color: #e2e2e2;
    height: 30px;
    padding: 0px 50px;
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    
    .footer-content{
        font-size: 60%;
        font-weight: 600;
        max-width: 1140px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
    }
}