<header class="header">
    <section class="header-container">
        <div class="header_logo_div" tabindex="0">
            <img src="assets/images/logo.png" alt="App Logo">
        </div>
        <div class="header_menu_div">
            <nav class="header_menu_div_nav">
                <a href="#" [routerLink]="''">Home</a>
                <a href="#" [routerLink]="'products'">Products</a>
            </nav>
        </div>
        <div class="header_login_cart_div">
            <div class="header_login_cart_div_login">
                <nav class="small-nav">
                    <a href="#" [routerLink]="'signIn'">SignIn</a>
                    <a href="#" [routerLink]="'signUp'">Register</a>
                </nav>
            </div>
            <div tabindex="0" role="button" class="header_login_cart_div_cart" (click)="openCart()">
                <img src="assets/images/cart.svg" alt="cart">
                <span>{{ master.cartItems.length + ' items'}}</span>
            </div>
        </div>
    </section>
</header>
