article {
    border-bottom: 1px solid #dad4d4;
    cursor: pointer;

    button {
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        outline: none;
        border: none;
        font-size: 70%;
        font-weight: 600;
        color: #8e8a8a;
        text-align: left;
        padding: 10px 25px;
        transition: 0.3s border, 0.3s padding;

        &:hover{
            border-left: 3px solid #d81b60;
            padding-left: 22px;
        }
    }

    .active-category {
        border-left: 3px solid #d81b60;
        padding-left: 22px;
    }

}

// @media onl