.category-select {
        display: block !important;
        height: inherit;
        background-color: transparent;
        height: 100% !important;

        ::ng-deep .mat-select-trigger {
            height: 100% !important;

            .mat-select-value{
                text-align: center !important;

                .mat-select-value-text{
                    .mat-select-min-line{
                        color: #fff !important;
                        font-size: 90%;
                    }
                }

                .mat-select-placeholder {
                    color:#fff !important;
                  }
            }

            .mat-select-arrow-wrapper {
                .mat-select-arrow {
                    color: #fff !important;
                }
            }
        }
    }

    .category-select span.mat-select-min-line {
        color: #fff;
    }